<div class="document-desc clear-margin">
    <h6>{{document.title[locale]}}</h6>
    <div>
        {% if document.date %}<span>{{__('DOCUMENT_DATE')}}{{__(': ')}}{{document.date | dateFormat}}</span><br>{% endif %}
        <span>
            <span>{{__('DOWNLOAD_LINKS')}}{{__(': ')}}</span>
            {% if document.originalUrl %}<a target="_blank" href="{{document.originalUrl}}">{{__('DOWNLOAD_LINKS_ORIGINAL')}}</a>{% endif %}
            {{- " / " if document.originalUrl and document.files[0].filename -}}
            {% if document.files[0].filename %}<a target="_blank" href="{{mklink('uploads', document.files[0].filename)}}">{{__('DOWNLOAD_LINKS_BACKUP')}}</a>{% endif %}
        </span>
    </div>
</div>
