.avatar-table { // expects <a>
    display: table;

    img {
        display: table-cell;
    }

    span {
        display: table-cell;
        width: 100%;
    }

    &.at--mid-8 {
        span {
            padding-left: 8px;
        }
    }

    &.at--mid-12 {
        span {
            padding-left: 12px;
        }
    }
}