.bar {
    display: inline-block;
    width: 100%;
    line-height: 0;
}

.bar__segment {
    height: 1em;
    float: left;

    &.bar__segment--direct {
        background-color: $color-method-d;
    }

    &.bar__segment--indirect {
        background-color: $color-method-i;
    }

    &.bar__segment--appointed {
        background-color: $color-method-a;
    }
}
