// Expects the appropiate parent will have position: relative

/** Visibiliy Toggler START **/
// NOT using .comment:hover because it causes problem on mobile (iOS in particular)
// current approach is use a checkbox toggler
// for the hover-display effect, use onmouseenter and onmouseleave to toggle checkbox

.comment-tooltip {
    visibility: hidden;
    opacity: 0;
}

.comment {
    input:checked ~ .comment-tooltip {
        visibility: visible;
        opacity: 1;
    }
}
/** Visibiliy Toggler END **/

.comment-wrapper,
.comment {
    cursor: pointer;
}

.comment-tooltip {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc( 100% + 10px );
    background-color: #ffffff;
    color: $theme-black-text;
    padding: 20px;
    z-index: 100;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 20px 20px;
    transition: all 0.1s linear;
    cursor: default;
    text-align: left;

    // the triangle tip below
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: calc( 50% - 5px );
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #ffffff;
    }

    // a transparent bar to join .comment and .comment-tooltip
    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 10px;
    }
}

@media #{$extra-large-and-up} {
    .comment-tooltip {
        left: -45px;
        right: -45px;
    }
}