.deputy-card {
    border: 1px solid $theme-border-grey;
    transition: border-color 0.1s linear, box-shadow 0.1s linear;
    border-radius: 4px;

    .avatar-table {
        padding: 11px;
        width: 100%;
    }

    &.deputy-card--direct:hover {
        box-shadow: 0 0 0 1px $color-method-d inset;
        border-color: $color-method-d;
    }

    &.deputy-card--indirect:hover {
        box-shadow: 0 0 0 1px $color-method-i inset;
        border-color: $color-method-i;
    }

    &.deputy-card--appointed:hover {
        box-shadow: 0 0 0 1px $color-method-a inset;
        border-color: $color-method-a;
    }
}

@media #{$small-and-down} {
    .deputy-card {
        margin: 0;
    }  
}
