.legend {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    display: inline-block;
    
    &, & + span {
        vertical-align: middle;
    }

    &.legend--circle {
        border-radius: 50%;
    }

    &.legend--direct {
        background-color: $color-method-d;
    }
    &.legend--indirect {
        background-color: $color-method-i;
    }
    &.legend--appointed {
        background-color: $color-method-a;
    }

    &.legend--vote-y {
        background-color: $color-vote-y;
    }
    &.legend--vote-n {
        background-color: $color-vote-n;
    }
    &.legend--vote-p {
        background-color: $color-vote-p;
    }
    &.legend--vote-a {
        background-color: $color-vote-a;
    }
}
