nav {
    background-color: #ffffff;;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .brand-logo {
        white-space: nowrap;
        color: #1e1e1e;

        img {
            vertical-align: middle;
        }
    }

    ul {
        li.active,
        a:hover {
            background-color: transparent;
        }

        li.active a,
        a:hover {
            transition: color 0.1s linear;
            color: $theme-light-purple;
        }
    }
}

@media #{$large-and-up} {
    nav {
        .brand-logo {
            left: 20px;
        }
    }
}
