.page-footer {
    padding-top: 0;
    border-top: 1px solid $theme-border-grey;

    a {
        color: inherit;

        &:not(:last-child) {
            margin-left: 30px;
        }
    }

    .facebook-svg {
        position: relative;
        width: 7px;
        height: 14px;
        top: 1px;
    }
}

// hamburgur menu appears
@media #{$medium-and-down} {
    .page-footer {
        display: none;
    }

    .sidebar-toggler:checked ~ .page-footer {
        display: block;
        position: fixed;
        z-index: 1000;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 0;
    }
}