{% extends "parent.njk" %}

{% block title %}{{__('DOCUMENTS_PAGE_TITLE')}}{% endblock %}

{% block body %}
    <div class="about">
        <div class="hero-image">
            <div class="aspect-ratio"></div>
            <div class="inner">
                <div class="container">
                    <h1>{{__('ABOUT_PAGE_TITLE')}}</h1>
                    <div>由 ERROR 451 創立的澳門立法會民間記錄站透過視像化數據及資料整合，讓市民大眾一看便知立法會的最新動態、議員投票意向及議員的背景。</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.navbar-fixed').classList.add('navbar-fixed-0');
        document.querySelector('.navbar-fixed').classList.add('navbar-transparent');
        document.querySelector('.navbar-fixed').classList.add('navbar-inverted');
    </script>
{% endblock %}
