{% extends "parent.njk" %}

{% set pageTitle = __('ABOUT_PAGE_TITLE') %}
{% set pageDescription = __('ABOUT_PAGE_DESCRIPTION') %}

{% block body %}
    <div class="about">
        <div class="hero-image">
            <div class="aspect-ratio"></div>
            <div class="inner">
                <div class="container">
                    <h1>關於</h1>
                    <div class="about-al">由 ERROR 451 創立的澳門立法會民間記錄站透過視像化數據及資料整合，讓市民大眾一看便知立法會的最新動態、議員投票意向及議員的背景。</div>
                </div>
            </div>
        </div>
        <div class="body container">
            <h1>關於 <span class="sans-serif">ERROR 451</span></h1>
            <div class="about-451">ERROR 451 是一個澳門民間自發的新聞時事平台，主要以 Facebook 及網站向市民發布資訊。我們希望透過高質素的時事分析、視像化數據、人物訪問等，讓澳門人更了解城中的大小事，亦從而鼓勵大眾有更多健康、理性的公共討論。</div>
            <ul class="conversation">
                <li>
                    <div class="question">錯誤代碼451是代表甚麼?</div>
                    <div class="answer">2015年，一種新的 HTTP 錯誤代碼“451 Unavailable For Legal Reasons” 產生了，專門用來標示「因法律原因被官方審查」的內容。</div>
                </li>
                <li>
                    <div class="question">為甚麼要用451這個數字?</div>
                    <div class="answer">數字451，是源自美國作家 #雷布萊伯利 1953年出版的反烏託邦小説《華氏451度》。<br>小説講述了一個壓制自由的「未來世界」，那裏禁止人們擁有和閲讀書籍；書中的主人公是一名消防員，他的工作不是滅火，而是焚書。華氏451度正是紙張的燃點。</div>
                </li>
                <li>
                    <div class="question">這個專頁為甚麼叫ERROR 451?</div>
                    <div class="answer">因為在這裏，你可以找到澳門 "被ERROR 451-ed" 的資訊。</div>
                </li>
            </ul>
        </div>
        <div class="fire">
            <img src="{{mklink('abs', 'img/about-fire.png')}}">
        </div>
    </div>
    <script>
        var nwcl = document.querySelector('.navbar-wrapper').classList;
        var ns   = document.querySelector('.navbar-wrapper nav').style;
        var sbt  = document.getElementById('sidebar-toggler');

        var currentState = calcState();
        switch(currentState){
            case 'A':
                handleStateChange('B', 'A');
                break;
            case 'B':
                handleStateChange('A', 'B');
                break;
            case 'C':
                handleStateChange('A', 'B');
                handleStateChange('B', 'C');
                break;
        }

        handleScroll();
        window.addEventListener('scroll', handleScroll);
        sbt.addEventListener('change', handleScroll);

        function handleScroll(){
            var nextState = calcState();
            if(nextState == currentState) return;
            handleStateChange(currentState, nextState);
        }

        function calcState(){
            var bound1 = 200;
            var bound2 = document.querySelector('.about .hero-image').clientHeight;

            if(sbt.checked) { // when sidebar is on, the display effect should be the same as in zone C
                return 'C';
            } else if(window.pageYOffset < bound1){
                return 'A';
            } else if(window.pageYOffset >= bound2) {
                return 'C'
            } else {
                return 'B';
            }
        }

        {# 
            B is like a buffer zone
            transition between A<->B does not have animation
         #}
        function handleStateChange(prevState, nextState) {
            switch(prevState + nextState) {
                case 'AB':
                    ns.position = 'fixed';
                    ns.backgroundColor = '';
                    ns.transition = '';
                    ns.opacity = 0;
                    nwcl.remove('navbar-transparent');
                    nwcl.remove('navbar-inverted');
                    setTimeout(function(){
                        ns.transition = 'opacity .2s linear';
                    });
                    break;
                case 'BA':
                    ns.position = 'relative';
                    ns.backgroundColor = '#2f1166';
                    ns.transition = '';
                    ns.opacity = 1;
                    nwcl.add('navbar-transparent');
                    nwcl.add('navbar-inverted');
                    setTimeout(function(){
                        ns.transition = 'opacity .2s linear';
                    });
                    break;
                case 'BC':
                    ns.opacity = 1;
                    break;
                case 'CB':
                    ns.opacity = 0;
                    break;
                case 'AC':
                    handleStateChange('A', 'B');
                    handleStateChange('B', 'C');
                    break;
                case 'CA':
                    handleStateChange('C', 'B');
                    handleStateChange('B', 'A');
                    break;
            }

            currentState = nextState;
        }
    </script>
{% endblock %}
