{% extends "parent.njk" %}

{% block title %}{{__('BILLS_PAGE_TITLE')}}{% endblock %}

{% block body %}
    <div class="bills container">
        <h1 class="center-align">{{__('BILLS_PAGE_TITLE')}}</h1>
        <table class="highlight striped bordered">
            <thead>
                <tr>
                    <th class="col-title">{{__('SIXTH_LEGCO')}}</th>
                    <th class="col-proposer">{{__('BILL_PROPOSER')}}</th>
                    <th class="col-voting-date">{{__('BILL_VOTING_DATE')}}</th>
                    <th class="col-result">{{__('BILL_RESULT')}}</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                    <tr>
                        <td class="col-title">
                            <a href="{{mklink('bill', bill)}}">{{bill.title[locale]}}</a>
                        </td>
                        <td class="col-proposer" data-title="{{__('BILL_PROPOSER')}}">
                            <span>
                                {% if bill.proposedByGovernment %}
                                    <a class="avatar-table at--mid-8">
                                        <img class="avatar avatar--30" src="{{mklink('abs', 'img/government.jpg')}}" alt="">
                                        <span>{{__('GOVERNMENT')}}</span>
                                    </a>
                                {% elif bill.proposerDeputiesId %}
                                    {% for proposerDeputyId in bill.proposerDeputiesId %}
                                        {% set proposerDeputy = deputiesDict[proposerDeputyId] %}
                                        <a class="avatar-table at--mid-8" href="{{mklink('deputy', proposerDeputy)}}">
                                            <img class="avatar avatar--30" src="{{mklink('abs', 'img/deputies/' + proposerDeputy.slug + '-color.jpg')}}" alt="{{proposerDeputy.name[locale]}}">
                                            <span>{{proposerDeputy.name[locale]}}</span>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </td>
                        <td class="col-voting-date" data-title="{{__('BILL_VOTING_DATE')}}">
                            <span>{{bill.date | dateFormat}}</span>
                        </td>
                        <td class="col-result result-{{bill.result | lower}}" data-title="{{__('BILL_RESULT')}}" data-trans-ml="{{__('BILL_RESULT_' + bill.result + '_SHORT')}}">
                            <span>{{__('BILL_RESULT_' + bill.result)}}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
