{% extends "parent.njk" %}

{% block title %}{{bill.title[locale]}}{% endblock %}

{# the value is X as in X% #}
{% set voteYPercent = ((voteSummary.Y or 0) / voteSummary.total * 100) | round %}
{% set voteNPercent = ((voteSummary.N or 0) / voteSummary.total * 100) | round %}
{% set votePPercent = ((voteSummary.P or 0) / voteSummary.total * 100) | round %}
{% set voteAPercent = ((voteSummary.A or 0) / voteSummary.total * 100) | round %}

{% block body %}
    <div class="bill container clear-margin">
        <h1>{{bill.title[locale]}}{{a}}</h1>
        <section class="row bill-meta">
            <div class="col xs12 ml6 l8 xl9">
                <div class="row">
                    <div class="col xs12 l6 bill-meta-proposer">
                        <h4>{{__('BILL_PROPOSER')}}</h4>
                        <div class="bill-meta-proposer__inner">
                            {% if bill.proposedByGovernment %}
                                <a class="avatar-table at--mid-8">
                                    <img class="avatar avatar--30" src="{{mklink('abs', 'img/government.jpg')}}" alt="">
                                    <span>{{__('GOVERNMENT')}}</span>
                                </a>
                            {% elif bill.proposerDeputiesId %}
                                {% for proposerDeputyId in bill.proposerDeputiesId %}
                                    {% set proposerDeputy = deputiesDict[proposerDeputyId] %}
                                    <a class="avatar-table at--mid-8" href="{{mklink('deputy', proposerDeputy)}}">
                                        <img class="avatar avatar--30" src="{{mklink('abs', 'img/deputies/' + proposerDeputy.slug + '-color.jpg')}}" alt="{{proposerDeputy.name[locale]}}">
                                        <span>{{proposerDeputy.name[locale]}}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col xs12 l6 bill-meta-voting-date">
                        <h4>{{__('BILL_VOTING_DATE')}}</h4>
                        <div class="bill-meta-voting-date__inner">
                            {{bill.date | dateFormat}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col xs12 ml6 l4 xl3 bill-meta-result">
                <div class="bill-meta-result__inner bill-meta-result__inner--{{bill.result | lower}}">
                    {{__('BILL_RESULT_' + bill.result)}}
                </div>
            </div>
        </section>
        <section class="bill-synopsis">
            <h4>{{__('BILL_SYNOPSIS')}}</h4>
            <div class="content-highlight">{{bill.synopsis[locale]}}</div>
        </section>
        <section class="bill-votes-summary">
            <h4>{{__('BILL_VOTES_SUMMARY')}}</h4>
            <div class="content-highlight">
                <div class="bill-votes-summary__pie-wrapper">
                    {% set pieData = [{
                        values: [voteSummary.Y, voteSummary.N, voteSummary.P, voteSummary.A],
                        labels: [__('VOTE_Y'), __('VOTE_N'), __('VOTE_P'), __('VOTE_A')],
                        text: [
                            voteSummary.YPercent + '%',
                            voteSummary.NPercent + '%',
                            voteSummary.PPercent + '%',
                            voteSummary.APercent + '%'
                        ],
                        type: 'pie',
                        sort: false,
                        direction: 'clockwise',
                        hoverinfo: 'skip',
                        textinfo: 'text',
                        textposition: 'inside',
                        marker: {
                            colors: ['#5cd693', '#ff775b', '#4a4a4a', '#e6e6e6']
                        }
                    }] %}
                    <div id="bill-votes-summary__pie" class="bill-votes-summary__pie" data-pie-data="{{pieData | dump}}"></div>
                </div>
                <div class="bill-votes-summary__table-wrapper">
                    <table class="bordered bill-votes-summary__table">
                        <thead>
                            <tr>
                                <th class="col-legend">&nbsp;</th>
                                <th class="col-vote">{{__('BILL_VOTES_SUMMARY_TOTAL')}}</th>
                                <th class="col-bar">&nbsp;</th>
                                <th class="col-count"><span class="legend legend--circle legend--direct"   ></span><span class="number">{{__('DEPUTY_METHOD_SHORT_direct')}}</span></th>
                                <th class="col-count"><span class="legend legend--circle legend--indirect" ></span><span class="number">{{__('DEPUTY_METHOD_SHORT_indirect')}}</span></th>
                                <th class="col-count"><span class="legend legend--circle legend--appointed"></span><span class="number">{{__('DEPUTY_METHOD_SHORT_appointed')}}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% macro renderBillVotesSummaryRow(vote) %}
                                {% set votesFromDirect    = voteSummary['direct' + vote] or 0    %}
                                {% set votesFromIndirect  = voteSummary['indirect' + vote] or 0  %}
                                {% set votesFromAppointed = voteSummary['appointed' + vote] or 0 %}
                                <tr>
                                    <td class="col-legend"><span class="legend legend--vote-{{vote | lower}}"></span></td>
                                    <td><span>{{__('VOTE_' + vote)}}</span></td>
                                    <td class="col-bar">
                                        <div class="bar">
                                            <div class="bar__segment bar__segment--direct"    style="width:{{votesFromDirect    / voteSummary.relativeMax * 100}}%"></div>
                                            <div class="bar__segment bar__segment--indirect"  style="width:{{votesFromIndirect  / voteSummary.relativeMax * 100}}%"></div>
                                            <div class="bar__segment bar__segment--appointed" style="width:{{votesFromAppointed / voteSummary.relativeMax * 100}}%"></div>
                                        </div>{{''-}}
                                        <span class="percentage">{{voteSummary[vote + 'Percent']}}%</span>
                                    </td>
                                    <td class="col-count"><span class="legend"></span><span class="number">{{votesFromDirect or 0}}</span></td>
                                    <td class="col-count"><span class="legend"></span><span class="number">{{votesFromIndirect or 0}}</span></td>
                                    <td class="col-count"><span class="legend"></span><span class="number">{{votesFromAppointed or 0}}</span></td>
                                </tr>
                            {% endmacro %}
                            
                            {{ renderBillVotesSummaryRow('Y') }}
                            {{ renderBillVotesSummaryRow('N') }}
                            {{ renderBillVotesSummaryRow('P') }}
                            {{ renderBillVotesSummaryRow('A') }}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="bill-votes-detail">
            <h4>{{__('BILL_VOTES')}}</h4>
            {% macro renderBillVoteDetailColumn(specialStatusObjects, useWhiteIcon = false) %}
                {{renderBillVoteDetailColumnSegment(specialStatusObjects[""], useWhiteIcon)}}
                {% if specialStatusObjects.S %}
                    <h6>{{__('VOTE_SPECIAL_STATUS_S')}}</h6>
                    {{renderBillVoteDetailColumnSegment(specialStatusObjects.S, useWhiteIcon)}}
                {% endif %}
            {% endmacro %}
            {% macro renderBillVoteDetailColumnSegment(deputiesList, useWhiteIcon = false) %}
                <ul>
                    {% for deputyVote in deputiesList %}
                        {% set deputy = deputiesDict[deputyVote.deputyId] %}
                        <li>
                            <div class="avatar-table-wrapper">
                                <a class="avatar-table at--mid-12" href="{{mklink('deputy', deputy)}}">
                                    <img class="avatar" src="{{mklink('abs', 'img/deputies/' + deputy.slug + '-color.jpg')}}" alt="{{deputy.name[locale]}}">
                                    <span>{{deputy.name[locale]}}</span>
                                </a>
                            </div>
                            {% if deputy.comment[locale] %}
                                <div class="comment-wrapper">
                                    <label class="comment">
                                        <input type="checkbox" style="display:none">
                                        <img src="{{mklink('abs', 'img/comment-' + ('white' if useWhiteIcon else 'black') + '.svg')}}" alt="{{__('DEPUTY_COMMENT_ON_BILL')}}">
                                        <div class="comment-tooltip">{{deputy.comment[locale]}}</div>
                                    </label>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endmacro %}
            <div class="row">
                <div class="col xs12 m6 xl3">
                    <div class="content-highlight content-highlight--y {{'content-highlight--y-strong' if voteSummary.relativeMax == voteSummary.Y}}">
                        {% if voteSummary.Y > 0 %}
                            <input type="checkbox" id="toggler-y-voters" style="display:none">
                            <label class="toggler" for="toggler-y-voters"></label>
                        {% endif %}
                        <h5>{{__('VOTE_Y')}}</h5>
                        <span class="summary">{{voteSummary.Y or 0}} {{__('NOUN_VOTES')}} · {{voteYPercent}}%</span>
                        {{renderBillVoteDetailColumn(deputiesGrouped.Y, voteSummary.relativeMax == voteSummary.Y)}}
                    </div>
                </div>
                <div class="col xs12 m6 xl3">
                    <div class="content-highlight content-highlight--n {{'content-highlight--n-strong' if voteSummary.relativeMax == voteSummary.N}}">
                        {% if voteSummary.N > 0 %}
                            <input type="checkbox" id="toggler-n-voters" style="display:none">
                            <label class="toggler" for="toggler-n-voters"></label>
                        {% endif %}
                        <h5>{{__('VOTE_N')}}</h5>
                        <span class="summary">{{voteSummary.N or 0}} {{__('NOUN_VOTES')}} · {{voteNPercent}}%</span>
                        {{renderBillVoteDetailColumn(deputiesGrouped.N, voteSummary.relativeMax == voteSummary.N)}}
                    </div>
                </div>
                <div class="col xs12 m6 xl3">
                    <div class="content-highlight content-highlight--p">
                        {% if voteSummary.P > 0 %}
                            <input type="checkbox" id="toggler-p-voters" style="display:none">
                            <label class="toggler" for="toggler-p-voters"></label>
                        {% endif %}
                        <h5>{{__('VOTE_P')}}</h5>
                        <span class="summary">{{voteSummary.P or 0}} {{__('NOUN_VOTES')}} · {{votePPercent}}%</span>
                        {{renderBillVoteDetailColumn(deputiesGrouped.P)}}
                    </div>
                </div>
                <div class="col xs12 m6 xl3">
                    <div class="content-highlight content-highlight--a">
                        {% if voteSummary.A > 0 %}
                            <input type="checkbox" id="toggler-a-voters" style="display:none">
                            <label class="toggler" for="toggler-a-voters"></label>
                        {% endif %}
                        <h5>{{__('VOTE_A')}}</h5>
                        <span class="summary">{{voteSummary.A or 0}} {{__('NOUN_VOTES')}} · {{voteAPercent}}%</span>
                        {{renderBillVoteDetailColumn(deputiesGrouped.A)}}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="bill-documents-wrapper clear-margin">
        <section class="bill-documents container">
            <h2>{{__('BILL_DOCUMENTS')}}</h2>
            {% if bill.documentIds.length > 0 %}
                {% include "partials/documents-table.njk" %}
            {% else %}
                <div class="content-highlight">
                    {{__('NONE')}}
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}
