{% extends "parent.njk" %}

{% block title %}{{__('BILLS_PAGE_TITLE')}}{% endblock %}

{% block body %}
    <div class="bills container">
        <h1 class="center-align">{{__('BILLS_PAGE_TITLE')}}</h1>
        <div class="table">
            <div class="thead">
                <div class="tr">
                    <div class="th col-title">{{__('SIXTH_LEGCO')}}</div>
                    <div class="th col-proposer">{{__('BILL_PROPOSER')}}</div>
                    <div class="th col-voting-date">{{__('BILL_VOTING_DATE')}}</div>
                    <div class="th col-result">{{__('BILL_RESULT')}}</div>
                </div>
            </div>
            <div class="tbody">
                {% for bill in bills %}
                    <div class="tr">
                        <div class="td col-title"><a href="{{mklink('bill', bill)}}">{{bill.title[locale]}}</a></div>
                        <div class="td col-proposer">
                            {% set proposerDeputy = deputiesDict[bill.proposerDeputyId] %}
                            {% if proposerDeputy %}
                                <a class="avatar-table at--mid-8" href="{{mklink('deputy', proposerDeputy)}}">
                                    <img class="avatar avatar--30" src="{{mklink('abs', 'img/deputies/' + proposerDeputy.id + '.jpg')}}" alt="{{proposerDeputy.name[locale]}}">
                                    <span>{{proposerDeputy.name[locale]}}</span>
                                </a>
                            {% endif %}
                        </div>
                        <div class="td col-voting-date">{{bill.date | dateFormat}}</div>
                        <div class="td col-result result-{{bill.result | lower}}">{{__('BILL_RESULT_' + bill.result)}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
