{% extends "parent.njk" %}

{% block title %}{{__('DEPUTIES_PAGE_TITLE')}}{% endblock %}

{% block body %}
    <div class="deputies-body container">
        <h1 class="center-align">{{__('DEPUTIES_PAGE_TITLE')}}</h1>
        {% for method, deputies in deputies | groupby('electedMethod') %}
            <div>
                <h4>{{__('DEPUTY_METHOD_' + method)}}</h4>
                <ul class="row deputies-group">
                    {% for deputy in deputies %}
                        <li class="col s12 m6 l3">
                            <div class="deputy-card deputy-card--{{deputy.electedMethod}}">
                                <a class="avatar-table at--mid-12" href="{{mklink('deputy', deputy)}}">
                                    <img class="avatar" src="{{mklink('abs', 'img/deputies/' + deputy.id + '.jpg')}}">
                                    <span>{{deputy.name[locale]}}</span>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
