{% extends "parent.njk" %}

{% block title %}{{deputy.name[locale]}}{% endblock %}

{% block body %}
    <div class="container row deputy">
        <div class="col s12 l5 deputy-info">
            <div class="deputy-info__avatar">
                <img src="{{mklink('abs', 'img/deputies/' + deputy.id + '.jpg')}}" alt="{{deputy.name[locale]}}">
                {{-''-}}
                <div class="deputy-info__avatar__names">
                    <h3>{{deputy.name[locale]}}</h3>
                    <span>{{__('DEPUTY_METHOD_LONG_' + deputy.electedMethod)}}</span>
                </div>
            </div>
            <dl class="deputy-info__data">
                <dt>{{__('DEPUTY_QUALIFICATION')}}</dt>
                <dd>{{deputy.qualifications[locale]}}</dd>
                <dt>{{__('DEPUTY_JOB')}}</dt>
                <dd>{{deputy.job[locale]}}</dd>
                <dt>{{__('DEPUTY_PROPERTY')}}</dt>
                <dd>
                    <ul>
                        <li>
                            <span>{{__('DEPUTY_PROPERTY_RESIDENTIAL')}}</span>
                            <span class="right">{{deputy.property.residentialCount}}{{__('DEPUTY_PROPERTY_UNIT')}}</span>
                        </li>
                        <li>
                            <span>{{__('DEPUTY_PROPERTY_BUSINESS')}}</span>
                            <span class="right">{{deputy.property.businessCount}}{{__('DEPUTY_PROPERTY_UNIT')}}</span>
                        </li>
                        <li>
                            <span>{{__('DEPUTY_PROPERTY_PARKINGSLOT')}}</span>
                            <span class="right">{{deputy.property.parkingSlotCount}}{{__('DEPUTY_PROPERTY_UNIT')}}</span>
                        </li>
                        <li>
                            <span>{{__('DEPUTY_PROPERTY_LAND')}}</span>
                            <span class="right">{{deputy.property.landCount}}{{__('DEPUTY_PROPERTY_UNIT')}}</span>
                        </li>
                        <li>
                            <span>{{__('DEPUTY_PROPERTY_COMPANY')}}</span>
                            <span class="right">{{deputy.property.companyCount}}{{__('DEPUTY_PROPERTY_UNIT')}}</span>
                        </li>
                        <li>
                            <span>{{__('DEPUTY_PROPERTY_NGO')}}</span>
                            <span class="right">{{deputy.property.ngoCount}}{{__('DEPUTY_PROPERTY_UNIT')}}</span>
                        </li>
                    <ul>
                </dd>
                <dt>{{__('DEPUTY_CONTACT')}}</dt>
                <dd>
                    <ul class="emmet-m0">
                        {% if deputy.contact.address %}<li>{{__('DEPUTY_CONTACT_ADDRESS')}}{{__(': ')}}{{deputy.contact.address[locale]}}</li>{% endif %}
                        {% if deputy.contact.phone %}<li>{{__('DEPUTY_CONTACT_PHONE')}}{{__(': ')}}{{deputy.contact.phone}}</li>{% endif %}
                        {% if deputy.contact.wesite %}<li>{{__('DEPUTY_CONTACT_WEBSITE')}}{{__(': ')}}<a href="{{deputy.contact.wesite}}" target="_blank">{{deputy.contact.wesite}}</a></li>{% endif %}
                        {% if deputy.contact.email %}<li>{{__('DEPUTY_CONTACT_EMAIL')}}{{__(': ')}}<a href="mailto:{{deputy.contact.email}}">{{deputy.contact.email}}</a></li>{% endif %}
                    </ul>
                </dd>
            </dl>
            {# {{deputy | dump}} #}
        </div>
        <div class="col s12 l7 deputy-voted">
            <h5>{{__('DEPUTY_VOTED')}}</h5>
            <ul class="collection">
                {% for bill in latestBills %}
                    <li class="collection-item">
                        <a href="{{mklink('bill', bill)}}">{{bill.title[locale]}}</a>
                        <a class="secondary-content vote-{{bill.theirVote | lower}}">{{__('VOTE_' + bill.theirVote)}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
