{% extends "parent.njk" %}

{% block title %}{{__('DEPUTIES_PAGE_TITLE')}}{% endblock %}

{% block body %}
    <div class="deputies-body container">
        <h1 class="center-align">{{__('DEPUTIES_PAGE_TITLE')}}</h1>
        {% for method, deputies in deputies | groupby('electedMethod') %}
            <div>
                <h4>{{__('DEPUTY_METHOD_' + method)}}</h4>
                <ul class="row deputies-group">
                    {% for deputy in deputies %}
                        <li class="col s12 m6 l3">
                            <a href="{{mklink('deputy', deputy)}}">
                                <div class="deputy-card deputy-card--{{deputy.electedMethod}}">
                                    <img src="{{mklink('abs', 'img/deputies/' + deputy.id + '.jpg')}}">
                                    {{-''-}}
                                    <div class="deputy-card__name">
                                        {{deputy.name[locale]}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
