{% extends "parent.njk" %}

{% block title %}{{__('DOCUMENTS_PAGE_TITLE')}}{% endblock %}

{% block body %}
    <div class="documents container">
        <div class="clear-margin">
            <h2 class="center-align">{{__('DOCUMENTS_PAGE_TITLE')}}</h2>
        </div>
        <ul class="collection">
            {% for document in documents %}
                <li class="collection-item">
                    {% include "partials/document-desc.njk" %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
