{% extends "parent.njk" %}

{% set pageTitle = __('DOCUMENTS_PAGE_TITLE') %}
{% set pageDescription = __('DOCUMENTS_PAGE_DESCRIPTION') %}

{% block body %}
    <div class="documents container">
        <h1 class="center-align">{{__('DOCUMENTS_PAGE_TITLE')}}</h1>
        {% include "partials/documents-table.njk" %}
    </div>
{% endblock %}
