{% extends "parent.njk" %}

{% block title %}{{__('HOME_PAGE_TITLE')}}{% endblock %}

{% block body %}
    <div class="home">
        <div class="home__bill" id="home__bill">
            <h1>
                <span>{{__('HOME_FEATURED_BILL_TITLE')}}</span><br>
                <span>{{featuredBill.title[locale]}}</span>
            </h1>
            <div class="pie-wrapper" id="home__bill__pie-wrapper">
                {% set pieData = [{
                    values: [voteSummary.Y, voteSummary.N, voteSummary.P, voteSummary.A],
                    labels: [__('VOTE_Y'), __('VOTE_N'), __('VOTE_P'), __('VOTE_A')],
                    text: [
                        voteSummary.YPercent + '%',
                        voteSummary.NPercent + '%',
                        voteSummary.PPercent + '%',
                        voteSummary.APercent + '%'
                    ],
                    type: 'pie',
                    sort: false,
                    direction: 'clockwise',
                    hoverinfo: 'skip',
                    textinfo: 'text+label',
                    marker: {
                        colors: ['#51ee97', '#958cfe', '#4a4a4a', '#e6e6e6']
                    },
                    textfont: {
                        size: 15,
                        color: '#323232'
                    }
                }] %}
                <div id="home__bill__pie" class="pie" data-pie-data='{{pieData | dump}}'></div>
            </div>
            <div class="control">
                <a href="{{mklink('bill', featuredBill)}}">{{__('HOME_BILL_DETAIL')}}{% include 'inline-files/arrow.svg' %}</a>
                <a class="right" href="{{mklink('localized', 'bills')}}">{{__('HOME_MORE_BILLS')}}</a>
            </div>
        </div>
        <div class="home__deputy">
            <div class="home__deputy__quote">
                <h2>{{__('HOME_FEATURED_DEPUTY_TITLE')}}</h2>
                <p>{{featuredDeputySpeech[locale]}}</p>
            </div>
            <div class="home__deputy__bracket"></div>
            <div class="home__deputy__deputy">
                <a href="{{mklink('deputy', featuredDeputy)}}">
                    <img src="{{mklink('abs', 'img/deputies/' + featuredDeputy.slug + '-color.jpg')}}" alt="{{featuredDeputy.name[locale]}}">
                </a>
                <div class="desc">
                    <a href="{{mklink('deputy', featuredDeputy)}}">
                        <span>{{featuredDeputy.name[locale]}}</span><br>
                        <span>{{__('DEPUTY_METHOD_LONG_' + featuredDeputy.electedMethod)}}</span>
                    </a>
                    <a class="bottom" href="{{mklink('localized', 'deputies')}}">{{__('HOME_ALL_DEPUTIES')}}{% include 'inline-files/arrow.svg' %}</a>
                </div>
            </div>
        </div>
        <div class="home__about">
            <div class="background"></div>
            <h3>{{__('HOME_ABOUT_SENTENCE')}}</h3>
            <a href="{{mklink('localized', 'about')}}">{{__('HOME_ABOUT_US')}}{% include 'inline-files/arrow.svg' %}</a>
        </div>
    </div>
{% endblock %}
