<!doctype html>
<html hreflang="{{locale}}" lang="{{locale}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}} | {{__('SITE_TITLE')}}</title>
    <meta name="description" content="{{pageDescription}}" />
    <link rel="canonical" href="https://al.error451macau.com/{{locale}}{{canonicalPath}}" />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#786eff">
    <meta name="apple-mobile-web-app-title" content="{{__('SITE_TITLE')}}">
    <meta name="application-name" content="{{__('SITE_TITLE')}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{pageTitle}}" />
    <meta property="og:description" content="{{pageDescription}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://al.error451macau.com/{{locale}}{{canonicalPath}}" />
    <meta property="og:site_name" content="{{__('SITE_TITLE')}}" />
    <meta property="og:image" content="https://al.error451macau.com/img/og-image.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
</head>
<body>
    <input type="checkbox" id="sidebar-toggler" class="sidebar-toggler" style="display: none" />
    <div class="navbar-fixed navbar-wrapper">
        <nav>
            <div class="nav-wrapper">
                <a href="/{{locale}}/" class="brand-logo">{% include 'inline-files/logo.' + locale + '.svg' %}</a>
                <label for="sidebar-toggler" class="right hamburger-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <ul class="right">
                    <li {{('class="active"' | safe) if url == '/bills'}}><a href="/{{locale}}/bills">{{__('NAVBAR_BILLS')}}</a></li>
                    <li {{('class="active"' | safe) if url == '/deputies'}}><a href="/{{locale}}/deputies">{{__('NAVBAR_DEPUTIES')}}</a></li>
                    <li {{('class="active"' | safe) if url == '/documents'}}><a href="/{{locale}}/documents">{{__('NAVBAR_DOCS')}}</a></li>
                    <li {{('class="active"' | safe) if url == '/about'}}><a href="/{{locale}}/about">{{__('NAVBAR_ABOUT')}}</a></li>
                    {% if locale != 'zh' %}
                        <li><a href="/zh{{url}}">{{__('NAVBAR_CHINESE')}}</a></li>
                    {% endif %}
                    {# {% if locale != 'en' %}
                        <li><a href="/en{{url}}">{{__('NAVBAR_ENGLISH')}}</a></li>
                    {% endif %} #}
                    <li class="hide-on-med-and-down narrow-first"><a target="_blank" href="https://error451macau.com/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" class="website-svg"><g fill="none" fill-rule="evenodd" stroke-width="1.2"><circle cx="7.5" cy="7.5" r="6.9" stroke="#9B9B9B"/><ellipse cx="7.5" cy="7.5" stroke="#9B9B9B" rx="2.4" ry="6.9"/><path stroke="#979797" stroke-linecap="square" d="M1 7.5h13"/></g></svg></a></li>
                    <li class="hide-on-med-and-down narrow-last"><a target="_blank" href="https://fb.com/ERROR451Macau/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="38.79 0 77.57 155.14" class="facebook-svg"><path fill="#9b9b9b" d="M89.58 155.14V84.38h23.75l3.56-27.59h-27.3V39.2c0-7.99 2.2-13.43 13.66-13.43h14.6V1.07A197.9 197.9 0 0 0 96.58 0C75.52 0 61.1 12.85 61.1 36.45V56.8H37.3v27.59H61.1v70.76h28.48z"/></svg></a></li>
                </ul>
            </div>
        </nav>
    </div>
    
    {% block body %}{% endblock %}
    <script src="/bundle.js"></script>

    <footer class="page-footer">
        <div class="footer-copyright">
            <span>{{__('FOOTER_COPYRIGHT')}}</span>
            <ul class="links">
                <li class="hide-on-med-and-down"><a href="/{{locale}}/bills">{{__('NAVBAR_BILLS')}}</a></li>
                <li class="hide-on-med-and-down"><a href="/{{locale}}/deputies">{{__('NAVBAR_DEPUTIES')}}</a></li>
                <li class="hide-on-med-and-down"><a href="/{{locale}}/documents">{{__('NAVBAR_DOCS')}}</a></li>
                <li class="hide-on-med-and-down"><a href="/{{locale}}/about">{{__('NAVBAR_ABOUT')}}</a></li>
                <li><a target="_blank" href="https://error451macau.com/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" class="website-svg"><g fill="none" fill-rule="evenodd" stroke-width="1.2"><circle cx="7.5" cy="7.5" r="6.9" stroke="#9B9B9B"/><ellipse cx="7.5" cy="7.5" stroke="#9B9B9B" rx="2.4" ry="6.9"/><path stroke="#979797" stroke-linecap="square" d="M1 7.5h13"/></g></svg></a></li>
                <li><a target="_blank" href="https://fb.com/ERROR451Macau/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="38.79 0 77.57 155.14" class="facebook-svg"><path fill="#9b9b9b" d="M89.58 155.14V84.38h23.75l3.56-27.59h-27.3V39.2c0-7.99 2.2-13.43 13.66-13.43h14.6V1.07A197.9 197.9 0 0 0 96.58 0C75.52 0 61.1 12.85 61.1 36.45V56.8H37.3v27.59H61.1v70.76h28.48z"/></svg></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
