.bill {
    h4 {
        font-size: rem(15px);
        line-height: (18px / 15px);
        font-weight: bold;
    }
}

.bill-meta {
    @include clearFloat();
    margin-top: 30px;
}

.bill-meta-proposer,
.bill-meta-voting-date {
    position: relative;
    top: 2px;
}

.bill-meta-proposer__inner {
    margin-top: 8px;
}

.bill-meta-voting-date__inner {
    margin-top: 12px;
}

.bill-meta-result__inner {
    float: right;
    height: 60px;
    width: 100%;
    max-width: 260px;
    color: #ffffff;
    font-size: rem(22px);
    line-height: 60px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;

    &.bill-meta-result__inner--y {
        background-color: $color-result-y;
    }

    &.bill-meta-result__inner--n {
        background-color: $color-result-n;
    }

    &.bill-meta-result__inner--p {
        background-color: $color-result-p;
    }

    &.bill-meta-result__inner--w {
        background-color: $color-result-w;
    }
}

.bill-synopsis {
    margin-top: 52px;

    .content-highlight {
        margin-top: 12px;
        padding-right: 125px;
    }
}

.bill-votes-summary {
    margin-top: 40px;
    
    .content-highlight {
        margin-top: 12px;
        padding: 25px;
    }
}

.bill-votes-summary__pie {
    .svg-container {
        margin: auto !important;
    }
}

.bill-votes-summary__table {
    text-align: center;
    width: calc( 100% - 21px ); // compensate for the legend
    margin-left: 21px;

    tr {
        &:last-child {
            border-bottom: none;
        }

        th:first-child,
        td:first-child {
            padding-left: 0;
        }
    }

    th,
    td {
        padding: 5px;
        white-space: nowrap;
    }

    thead {
        .legend {
            margin-right: 5px;
        }
    }

    tbody {
        td {
            position: relative;
        }

        .legend {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: -21px;
        }
    }

    .col-vote {
        width: 20%;
    }

    .col-bar {
        width: 50%;
    }

    .col-count {
        width: 10%;
        text-align: center;
    }

    .bar {
        width: calc( 100% - 4.2em );
        vertical-align: middle;
    }

    .bar__segment {
        height: 12px;
    }

    .percentage {
        margin-left: 1.2em;
        vertical-align: middle;
    }
}

.bill-votes-detail {
    margin-top: 40px;

    .row {
        margin-top: 12px;
        margin-bottom: -20px; // compensate .col margin-bottom
    }

    .col {
        margin-bottom: 20px;
    }

    .content-highlight {
        padding: 12px 15px 15px;

        h5 {
            font-size: rem(22px);
            line-height: (26px / 22px);
        }

        .summary {
            display: block;
            line-height: (20px / 15px);
            margin-top: 5px;
            opacity: 0.4;
        }

        ul {
            margin-top: 27px;
            margin-bottom: 0;
        }

        li {
            display: table;
            position: relative;
            
            &:not(:first-child) {
                margin-top: 10px;
            }
        }

        .avatar-table-wrapper {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
        }

        .avatar-table {
            span {
                line-height: (18px / 15px);
            }
        }

        .avatar-table-wrapper:hover ~ .comment {
            .comment-tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
        .comment {
            display: table-cell;
            vertical-align: middle;
            width: 30px;
        }
        
        &.content-highlight--y,
        &.content-highlight--n {
            .summary {
                opacity: 0.75;
            }
        }
    }
}

.bill-documents {
    position: relative;
    margin-top: 50px;
    padding-top: 35px;

    &::before { // backdrop
        content: '';
        width: 20000px;
        height: calc(100% + 100px); // container margin-bottom
        top: 0;
        left: -10000px;
        position: absolute;
        background-color: $theme-bg-grey;
        z-index: -1;
    }

    h2 {
        font-size: rem(25px);
    }

    .documents-table {
        margin-top: 35px;

        thead {
            display: none;
        }

        tbody {
            border-top: 1px solid $theme-border-grey;
        }
    }
}

@media (min-width: $small-screen-up) and (max-width: $large-screen) {
    .bill-votes-detail {
        .col:nth-child(2n + 1) {
            clear: left;
        }
    }
}
