.bills {
    .table {
        line-height: (22px / 15px);
        margin-top: 36px;
    }
}

@media #{$ml-and-up} {
    .bills {
        .table {
            width: 100%;
        }

        .tbody {
            border: 1px solid $theme-border-grey;
            border-radius: 4px;
        }

        .tr {
            @include clearFloat;
        }

        .th {
            float: left;
            vertical-align: middle;
            padding: 10px 15px;
            font-weight: bold;
        }

        .td {
            float: left;
            vertical-align: top;
            padding: 19px 15px;
        }

        .tbody {
            .tr {
                &:nth-child(odd) {
                    background-color: $table-striped-color;
                }

                &:not(:first-child) {
                    border-top: 1px solid $theme-border-grey;
                }
            }
        }

        .col-title {
            width: 50%;
        }

        .col-proposer {
            width: calc(50% - 17.5em);
        }

        .col-voting-date {
            width: 10em;
        }

        .col-result {
            width: 7.5em;
        }

        .td.col-proposer {
            white-space: nowrap;
            padding-top: 15px;
            padding-bottom: 15px;
            
            a {
                position: relative;
            }
        }
    }
}
