.bill {
    &.container { // compete with .body > .container
        margin-bottom: 50px;
    }

    h4 {
        font-size: rem(15px);
        line-height: (18px / 15px);
        font-weight: bold;
    }
}

.bill-meta {
    @include clearFloat();
    margin-top: 21px;
}

.bill-meta-proposer,
.bill-meta-voting-date {
    display: flex;

    h4 {
        width: 109px;
        margin: auto 0;
    }
}

.bill-meta-voting-date {
    margin-top: 4px;
}

.bill-meta-proposer__inner,
.bill-meta-voting-date__inner {
    flex-grow: 1;

    .avatar-table {
        img {
            order: 2;
        }

        span {
            padding-left: 0;
        }
    }
}

.bill-meta-result {
    margin-top: 25px;
}

.bill-meta-result__inner {
    float: right;
    height: 60px;
    width: 100%;
    color: #ffffff;
    font-size: rem(22px);
    line-height: 60px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;

    &.bill-meta-result__inner--y {
        background-color: $color-result-y;
    }

    &.bill-meta-result__inner--n {
        background-color: $color-result-n;
    }

    &.bill-meta-result__inner--p {
        background-color: $color-result-p;
    }

    &.bill-meta-result__inner--w {
        background-color: $color-result-w;
    }
}

.bill-synopsis {
    margin-top: 30px;

    .content-highlight {
        margin-top: 12px;
    }
}

.bill-votes-summary {
    margin-top: 30px;
    
    .content-highlight {
        margin-top: 12px;
        padding: 25px;
    }
}

.bill-votes-summary__pie {
    .svg-container {
        margin: auto !important;
    }
}

.bill-votes-summary__table {
    text-align: center;
    width: calc( 100% - 21px ); // compensate for the legend
    margin-left: 21px;

    tr {
        &:last-child {
            border-bottom: none;
        }

        th:first-child,
        td:first-child {
            padding-left: 0;
        }
    }

    th,
    td {
        padding: 5px;
        white-space: nowrap;
    }

    thead {
        .legend {
            margin-right: 5px;
        }
    }

    tbody {
        td {
            position: relative;
        }

        .legend {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: -21px;
        }
    }

    .col-vote {
        width: 20%;
    }

    .col-bar {
        width: 50%;
    }

    .col-count {
        width: 10%;
        text-align: center;
    }

    .bar {
        width: calc( 100% - 4.2em );
        vertical-align: middle;
    }

    .bar__segment {
        height: 12px;
    }

    .percentage {
        margin-left: 1.2em;
        vertical-align: middle;
    }
}

.bill-votes-detail {
    margin-top: 30px;

    .row {
        margin-top: 12px;
        margin-bottom: -20px; // compensate .col margin-bottom
    }

    .col {
        margin-bottom: 20px;
    }

    .content-highlight {
        position: relative;
        padding: 12px 15px 15px;

        .toggler {
            display: none;
        }

        h5 {
            font-size: rem(22px);
            line-height: (26px / 22px);
        }

        .summary {
            display: block;
            line-height: (20px / 15px);
            margin-top: 5px;
            margin-bottom: 4px;
            opacity: 0.4;
        }

        ul {
            margin-top: 27px;
            margin-bottom: 0;
        }

        li {
            display: table;
            position: relative;
            width: 100%;
            
            &:not(:first-child) {
                margin-top: 10px;
            }
        }

        .avatar-table-wrapper {
            display: table-cell;
            vertical-align: middle;
            width: calc( 100% - 30px );
        }

        .avatar-table {
            span {
                line-height: (18px / 15px);
            }
        }

        .comment-wrapper {
            display: table-cell;
            vertical-align: middle;
            width: 30px;
            text-align: right;
        }
        
        &.content-highlight--y,
        &.content-highlight--n {
            .summary {
                opacity: 0.75;
            }
        }
    }
}

.bill-documents-wrapper {
    background-color: $theme-bg-grey;
}

.bill-documents {
    margin-top: 35px;
    margin-bottom: 100px;

    h2 {
        font-size: rem(25px);
    }

    .content-highlight {
        margin-top:20px;
    }

    .documents-table {
        margin-top: 35px;

        thead {
            display: none;
        }

        tbody {
            border-top: 1px solid $theme-border-grey;
        }
    }
}

@media (min-width: $small-screen-up) and (max-width: $large-screen) {
    .bill-votes-detail {
        .col:nth-child(2n + 1) {
            clear: left;
        }
    }
}

@media #{$medium-and-up} {
    .bill-meta {
        margin-top: 26px;
    }

    .bill-meta-proposer__inner,
    .bill-meta-voting-date__inner {
        flex-grow: 0;
        margin-right: auto;
    }
    
    .bill-meta-result {
        margin-top: 30px;
    }

    .bill-synopsis,
    .bill-votes-summary,
    .bill-votes-detail {
        margin-top: 38px;
    }
}

@media #{$ml-and-up} {
    .bill-meta {
        margin-top: 30px;
    }

    .bill-meta-result {
        margin-top: 0;
    }

    .bill-synopsis {
        margin-top: 52px;
    }
}

@media #{$large-and-up} {
    .bill-meta-proposer,
    .bill-meta-voting-date {
        flex-direction: column;
        margin-top: 2px;
    }
    
    .bill-meta-proposer__inner {
        margin-top: 8px;

        .avatar-table {
            img {
                order: 0;
            }
    
            span {
                padding-left: 8px;
            }
        }
    }

    .bill-meta-voting-date__inner {
        margin-top: 12px;
    }

    .bill-meta-result__inner {
        max-width: 260px;
    }
}

@media #{$small-and-down} {
    .bill {
        & > h1 {
            font-size: mrem(25px);
            line-height: (33px / 25px);
        }
    }

    /** Deputy vote detail open/close effect **/
    .bill-votes-detail {
        .content-highlight {
            .toggler {
                position: absolute;
                display: block;
                cursor: pointer;
                top: 10px;
                right: 10px;
                width: 32px;
                height: 32px;

                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    background-color: $theme-black-text;
                }

                // horizontal bar -- of +
                &::before {
                    top: 15px;
                    left: 10px;
                    height: 2px;
                    width: 12px;
                }

                // vertical pipe | of +
                &::after {
                    top: 10px;
                    left: 15px;
                    height: 12px;
                    width: 2px;
                }
            }

            // default hide list
            ul {
                display: none;
            }

            // effects when the toggler is on (display list)
            input:checked ~ {
                // make + become -
                .toggler::after {
                    display: none;
                }

                ul {
                    display: block;
                }
            }
        }
    }
}
