.bills {
    table {
        line-height: (22px / 15px);
        margin-top: 36px;
    }

    tbody {
        border-left: 1px solid $theme-border-grey;
        border-right: 1px solid $theme-border-grey;
    }

    .col-proposer {
        white-space: nowrap;
        padding-top: 15px;
        padding-bottom: 15px;
        
        a {
            position: relative;
        }
    }

    .col-voting-date {
        width: 10em;
    }

    .col-result {
        width: 7.5em;
    }
}
