.deputies-body {
    > div {
        &:nth-of-type(1) {
            margin-top: 38px;
        }

        &:nth-of-type(n + 2) {
            margin-top: 57px;
        }
    }

    .deputy-card {
        margin-bottom: 20px;
    }
}

.deputies-group {
    margin-top: 17px;
    margin-bottom: -20px; // compensate for .deputy-card margin-bottom
    clear: left;
}

@media #{$small-and-down} {
    .deputies-body {
        h1 {
            line-height: (60px / 33px);
        }
    }
}
