.deputy-head {
    text-align: center;
    margin-bottom: 30px;

    img {
        width: 120px;
        height: 120px;
    }

    div {
        margin-top: 10px;
    }

    span {
        display: inline-block;
        margin-top: 5px;
        font-weight: bold;
    }
}

.deputy-info__block {
    padding: 0 15px;
    border: 1px solid $theme-border-grey;
    border-radius: 4px;

    &:not(:first-child){
        margin-top: 30px;
    }

    h4 {
        font-size: rem(14px);
        font-weight: bold;
        line-height: (16px / 14px);
        color: $theme-grey;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 12px;
        border-bottom: 1px solid $theme-border-grey;
    }

    dl,
    ul {
        margin: 0;
    }

    dd {
        margin-left: 0;
    }

    &.deputy-info__block--top {
        dt {
            font-size: rem(14px);
            font-weight: bold;
            line-height: (16px / 14px);
            color: $theme-grey;
            text-transform: uppercase;
            padding-top: 15px;

            &:not(:first-child) {
                border-top: 1px solid $theme-border-grey;
            }
        }

        dd {
            margin: 10px 0 15px;
        }
    }

    &.deputy-info__block--properties {
        li {
            padding: 10px 0;

            &:not(:first-child) {
                border-top: 1px solid $theme-border-grey;
            }
        }
    }

    &.deputy-info__block--office {
        dt {
            font-weight: bold;
            padding-top: 10px;

            &:not(:first-child) {
                border-top: 1px solid $theme-border-grey;
            }
        }

        dd {
            padding-bottom: 10px;
        }
    }
}

.deputy-voted {
    border: 1px solid $theme-border-grey;
    border-radius: 4px;

    h4 {
        padding: 17px 15px;
        border-bottom: 1px solid $theme-border-grey;
        font-weight: bold;
    }

    .collection {
        border: 0;
        margin: 0;
    }

    .collection-item {
        padding: 19px 15px;
    }

    .title {
        font-weight: bold;
        display: inline-block;
        width: 80%; // average
    }

    .vote {
        float: right;
    }
}

@media #{$medium-and-down} {
    .deputy-voted {
        margin-top: 30px;
    }
}

@media #{$large-and-up} {
    .deputy-voted {
        .collection-item {
            padding-right: 20px;
        }
    }
}
