.documents {
    .documents-table {
        margin-top: 36px;
    }
}

@media #{$small-and-down} {
    .documents {
        h1 {
            line-height: (60px / 33px);
        }
    }
}

@media #{$medium-and-down} {
    .documents {
        .documents-table {
            margin-top: 40px;
        }
    }
}
