// setup footer and .home height
.home ~ .page-footer {
    display: none;
}

.home__bill,
.home__bill h1,
.home__deputy__quote,
.home__deputy__quote h2,
.home__about,
.home__about h3 {
    font-size: mrem(23px);
    line-height: (32px / 23px);
}

.home__bill {
    padding: 18px 20px 25px;

    .pie-wrapper {
        text-align: center;
        margin-top: 20px;

        img {
            border-radius: 50%;
            width: 280px;
            max-width: 100%;
            vertical-align: top;
        }
    }

    .control {
        margin-top: 30px;

        a {
            border-bottom: 3px solid $theme-black-text;
        }

        svg {
            height: 18px;
            width: 21px;
            margin-left: 3px;
        }
    }
}

.home__deputy {
    display: flex;
    flex-direction: column;
    min-height: 340px;
    padding: 20px 20px 25px;
    background-color: rgba($theme-light-purple, 0.2);
    color: $theme-light-purple;
}

.home__deputy__quote {
    flex-grow: 1;

    p {
        margin: 4px 0 0;
    }
}

.home__deputy__bracket {
    flex-shrink: 0;
    height: 20px;
    margin: 5px 0 25px;
    border-width: 0 3px 3px;
    border-style: solid;
    border-color: $theme-light-purple;
}

.home__deputy__deputy {
    flex-shrink: 0;
    height: 80px;
    position: relative;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        vertical-align: top;
    }

    .desc {
        position: absolute;
        margin-left: 15px;
        font-size: mrem(18px);
        line-height: (22px / 18px);
        top: 0;
        bottom: 0;
        left: 60px; // img width
        right: 0;

        a {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        svg {
            height: 16px;
            width: 19px;
            margin-left: 3px;
    
            g {
                stroke: $theme-light-purple;
            }
        }
    }
}

.home__about {
    padding: 20px;
    background-color: $theme-deep-purple;
    color: $theme-aero-blue;
    height: 340px;
    position: relative;

    &:hover {
        .background {
            opacity: 1;
            filter: none;
        }
    }

    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.6;
        background-image: url(/img/about-hero.jpg);
        background-size: auto 226%; // experimental value on 320px layout
        background-position: center 48.4%;
        transition: filter .2s, opacity .2s;
        filter: saturate(0);
    }

    h3 {
        margin: 0;
        position: relative;
        z-index: 5;
    }

    a {
        border-bottom: 3px solid $theme-aero-blue;
        position: relative;
        z-index: 5;
    }

    svg {
        height: 18px;
        width: 21px;
        margin-left: 5px;

        g {
            stroke: $theme-aero-blue;
        }
    }
}

@media (min-width: 375px) {
    .home__deputy__deputy {
        img {
            width: 80px;
            height: 80px;
        }

        .desc {
            left: 80px;
        }
    }
}

@media (min-width: 414px) {
    .home__bill {
        .pie-wrapper {
            margin-top: 30px;
        }
    }
}

@media #{$medium-and-up} {
    .home__bill,
    .home__bill h1,
    .home__deputy__quote,
    .home__deputy__quote h2,
    .home__about,
    .home__about h3 {
        font-size: rem(33px);
        line-height: (42px / 33px);
    }

    .home__bill {
        padding: 25px 30px 32px;

        .pie-wrapper {
            img {
                width: 412px;
            }
        }

        .control {
            margin-top: 0;

            svg {
                height: 24px;
                width: 28px;
                margin-left: 6px;
            }
        }
    }

    .home__deputy {
        min-height: 400px;
        padding: 25px 30px 30px;
    }

    .home__deputy__bracket {
        border-width: 0 4px 4px;
        margin-bottom: 30px;
        height: 30px;
    }

    .home__deputy__quote {
        p {
            margin-top: 5px;
        }
    }

    .home__about {
        height: 400px;
        padding: 25px 30px;

        .background {
            background-size: auto 190%; // experimental value
            background-position: 41.5% 40%;
        }

        svg {
            height: 24px;
            width: 28px;
        }
    }
}

@media #{$ml-and-up} {
    .home__deputy {
        width: 50%;
        min-height: 480px;
        float: left;
    }

    .home__about {
        width: 50%;
        height: 480px;
        float: left;

        .background {
            background-size: auto 157%; // experimental value
            background-position: center 20.5%;
        }
    }
}

// desktop layout, only applicable if viewport is "wider" than 12:10 (experimental)
@media #{$large-and-up} and (min-aspect-ratio: 12/10) {
    .home {
        height: calc( 100% - #{$navbar-height} );
        min-height: 700px; // prevents collapse
    }

    .home__bill {
        width: 50%;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        position: relative;

        h1 {
            flex-grow: 1;
        }

        .pie-wrapper {
            position: absolute;
            left: 0;
            width: 100%;
            top: 57.5%;
            transform: translate(0, -50%);
            margin-top: 0;
        }

        .control {
            margin-top: 28px;
        }
    }

    .home__deputy {
        min-height: 50%;
        flex-direction: row;
    }

    .home__deputy__bracket {
        width: 37px;
        height: auto;
        margin: 13px 30px 8px 0;
        border-width: 4px 4px 4px 0;
    }

    .home__deputy__deputy {
        margin: 5px 0 6px;
        padding-top: 0;
        height: auto;
        width: 120px;

        img {
            width: 120px;
            height: 120px;
        }

        .desc {
            margin-left: 0;
            margin-top: 15px;
            font-size: rem(18px);
            top: 120px; // img height
            left: 0;
        }
    }

    .home__about {
        height: 50%;

        .background {
            background-size: auto 206%; // experimental value
            background-position: 45.5% 44%;
        }
    }
}
