$theme-orange: #ff775b;
$theme-yellow: #ffb901;
$theme-green: #5cd693;
$theme-skyblue: #03ceff;
$theme-purple: #6a67ce;
$theme-light-purple: #786eff;
$theme-black-text: #323232;
$theme-grey: #b4b4b4;
$theme-border-grey: #ddddde;
$theme-bg-grey: #f8f8f8;

$color-vote-y: $theme-green;
$color-vote-n: $theme-orange;
$color-vote-p: #4a4a4a;
$color-vote-a: #e6e6e6;

$color-vote-y-bg: rgba($color-vote-y, 0.16);
$color-vote-n-bg: rgba($color-vote-n, 0.1);
$color-vote-p-bg: rgba($color-vote-p, 0.08);
$color-vote-a-bg: #ffffff;

$color-result-y: $theme-green;
$color-result-n: $theme-orange;
$color-result-p: $theme-yellow;
$color-result-w: #9b9b9b;

$color-method-d: $theme-yellow;
$color-method-i: $theme-purple;
$color-method-a: $theme-skyblue;
