$theme-orange: #ff775b;
$theme-yellow: #ffb901;
$theme-green: #5cd693;
$theme-skyblue: #03ceff;
$theme-purple: #6a67ce;
$theme-border-grey: #ddddde;

$color-vote-y: color('teal', 'darken-1');
$color-vote-n: color('deep-orange', 'darken-1');
$color-vote-p: color('amber', 'darken-1');
$color-vote-a: color('grey', 'base');

$color-vote-y-bg: lighten(color('teal', 'lighten-2'), 45%);
$color-vote-n-bg: lighten(color('deep-orange', 'lighten-3'), 20%);
$color-vote-p-bg: lighten(color('amber', 'lighten-2'), 32%);
$color-vote-a-bg: lighten(color('grey', 'lighten-2'), 10%);

$color-result-y: $theme-green;
$color-result-n: $theme-orange;

$color-method-d: $theme-yellow;
$color-method-i: $theme-purple;
$color-method-a: $theme-skyblue;
