.bill-result {
    margin-top: 1.46rem; // margin-top of h3
    font-size: 1.3rem;
    text-align: center;
}

.bill-result__title {
    line-height: 1.3;
}

.bill-result__text {
    font-size: 2rem;
    padding: 6px 12px;
}

.bill-synopsis {
    margin-top: 1rem;
}

.bill-votes-summary {
    margin-top: 1rem;
    
    .content-highlight { // compensate the .row effect
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.bill-votes-summary__pie {
    .svg-container {
        margin: auto !important;
    }
}

.bill-votes-summary__table {
    text-align: center;

    tr:last-child {
        border-bottom: none;
    }

    th,
    td {
        padding: 5px;
        white-space: nowrap;
    }

    .bar {
        width: calc( 100% - 3.6em );
        vertical-align: middle;
    }

    .percentage {
        margin-left: 0.6em;
        vertical-align: middle;
    }
}

.bill-votes-detail {
    margin-top: 1rem;
}
.bill-votes {
    margin: 0;
}
.bill-vote {
    display: inline-block;
    width: (100% / 10 - 1%);
    border-radius: 3px;
    // border: 1px solid color('grey', 'lighten-2');
    margin: 0.5%;
    padding: 10px 10px 6px;
    // background: white;
    border: 2px solid;

    &.bill-vote--y {
        border-color: rgba($color-vote-y, 0.6);
        background-color: $color-vote-y-bg;
    }
    &.bill-vote--n {
        border-color: rgba($color-vote-n, 0.6);
        background-color: $color-vote-n-bg;
    }
    &.bill-vote--p {
        border-color: rgba($color-vote-p, 0.6);
        background-color: $color-vote-p-bg;
    }
    &.bill-vote--a {
        border-color: rgba($color-vote-a, 0.6);
        background-color: $color-vote-a-bg;
    }
}
.bill-vote__inner {
    text-align: center;

    img {
        max-width: 100%;
        vertical-align: top;
        border-radius: 50%;
    }

    .name {
        margin-top: 8%;
        line-height: 1.3;
    }

    .method {
        color: color('grey', 'base');
    }

    .sub-content {
        @include clearFloat;
        margin: 3px -3px 0;
        font-size: 90%;
        line-height: 1.3;
    }
}

.bill-documents {
    margin-top: 1rem;

    // remove margin and padding for ul
    ul.content-highlight {
        margin: 0;
        padding: 0;
    }
}

@media (min-width: $s2m-screen-up) and (max-width: $large-screen) {
    .bill-vote {
        width: (100% / 8 - 1%);
    }
}

@media (min-width: $small-screen-up) and (max-width: $s2m-screen) {
    .bill-vote {
        width: (100% / 5 - 1%);
    }
}

@media (min-width: 0) and (max-width: $small-screen) {
    .bill-vote {
        width: (100% / 3 - 1%);
    }
}
