@mixin clearFloat(){
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}

body {
    font-family: -apple-system, 微軟正黑體, "Microsoft JhengHei", 蘋果儷中黑, "Apple LiGothic Medium", "儷黑 Pro", "LiHei Pro Medium", sans-serif;    
}

.bigger {
    font-size: 120%;
}

.row.row--no-mb {
    margin-bottom: 0;
}

.emmet-m0 {
    margin: 0;
}

.vote-y {
    color: color('teal', 'base');
}
.vote-n {
    color: color('deep-orange', 'darken-1')
}
.vote-p {
    color: color('amber', 'darken-1');
}
.vote-a {
    color: color('grey', 'base');
}
