@mixin clearFloat(){
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}

body {
    // font-family: -apple-system, 微軟正黑體, "Microsoft JhengHei", 蘋果儷中黑, "Apple LiGothic Medium", "儷黑 Pro", "LiHei Pro Medium", sans-serif;
    font-family: 'San Francisco', Helvetica, Arial, -apple-system, 微軟正黑體, "Microsoft JhengHei", 蘋果儷中黑, "Apple LiGothic Medium", "儷黑 Pro", "LiHei Pro Medium", sans-serif;
}

body > .container {
    margin-top: 40px;
    margin-bottom: 100px;
}

th {
    padding: 10px 15px;
    vertical-align: top;
}

td {
    padding: 19px 15px;
    vertical-align: top;
}

.page-footer {
    padding-top: 0;
    border-top: 1px solid $theme-border-grey;

    a {
        color: inherit;

        &:not(:last-child) {
            margin-left: 30px;
        }
    }

    .facebook-svg {
        position: relative;
        width: 7px;
        height: 14px;
        top: 1px;
    }
}

.row {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    line-height: (60px / 44px);
    font-family: 'Playfair Display', serif;
    letter-spacing: (-0.5px / 44px * 1em);
}
h4 {
    line-height: (26px / 22px);
}

.bigger {
    font-size: 120%;
}
.bold {
    font-weight: 600;
}

.emmet-m0 {
    margin: 0;
}

.vote-y {
    color: $color-vote-y;
}
.vote-n {
    color: $color-vote-n;
}
.vote-p {
    color: $color-vote-p;
}
.vote-a {
    color: $color-vote-a;
}

.result-y {
    color: $color-result-y;
}
.result-n {
    color: $color-result-n;
}

.clear-margin {
    padding: 0.1px;
}

.content-highlight {
    border-radius: 4px;
    padding: 19px 15px;
    border: 1px solid $theme-border-grey;

    &.content-highlight--y {
        background-color: $color-vote-y-bg;
        border-color: transparent;

        &.content-highlight--y-strong {
            background-color: $color-vote-y;
            color: #ffffff;
        }
    }

    &.content-highlight--n {
        background-color: $color-vote-n-bg;
        border-color: transparent;

        &.content-highlight--n-strong {
            background-color: $color-vote-n;
            color: #ffffff;
        }
    }

    &.content-highlight--p {
        background-color: $color-vote-p-bg;
        border-color: transparent;
    }

    &.content-highlight--a {
        background-color: $color-vote-a-bg;
        border-color: $theme-border-grey; // yes intended
    }
}

.avatar {
    vertical-align: middle;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &.avatar--30 {
        width: 30px;
        height: 30px;
    }

    & ~ span,
    & ~ a {
        vertical-align: middle;
    }
}