.deputy-card {
    padding: 14px;
    transition: 0.2s background-color linear;
    color: $off-black;

    img {
        width: 50px;
        border-radius: 50%;
        margin-right: 12px;
        vertical-align: middle;
    }

    .deputy-card__name {
        display: inline-block;
        vertical-align: middle;
        max-width: calc( 100% - 65px ); // 50px image + 10px margin-righjt + 5px of space

        html[hreflang=zh] & {
            font-size: 140%;
        }
    }

    &:hover {
        background-color: color('grey', 'lighten-3');
        cursor: pointer;
    }
}

.deputies-group {
    clear: left;
}

@media (min-width: $s2m-screen-up) and (max-width: $medium-screen) { // "upper tablet"
    .deputies-group .col {
        width: (100% / 3) !important;
    }
}

@media #{$small-and-down} {
    .deputy-card {
        margin: 0;
    }  
}

@media (max-width: $large-screen) {
    .deputy-card {
        padding: 10px 12px;
    }
}
