.legend {
    width: 7px;
    margin-right: 4px;
    display: inline-block;
    height: 1em;
    
    &, & + span {
        vertical-align: middle;
    }

    &.legend--direct {
        background-color: $color-method-d;
    }
    &.legend--indirect {
        background-color: $color-method-i;
    }
    &.legend--appointed {
        background-color: $color-method-a;
    }
}
